{% extends "translation-manager/_layouts/settings" %}
{% set title = "File Generation Settings"|t('translation-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'generation' %}

{% set plugin = craft.app.plugins.getPlugin('translation-manager') %}
{% set crumbs = [
    {
        label: translationHelper.fullName|t('translation-manager'),
        url: url('translation-manager'),
    },
    {
        label: 'Settings'|t('translation-manager'),
        url: url('translation-manager/settings'),
    },
    {
        label: 'File Generation'|t('translation-manager'),
        url: url('translation-manager/settings/generation'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form method="post" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{ actionInput('translation-manager/settings/save') }}
		{{ redirectInput('translation-manager/settings/generation') }}
		{{ hiddenInput('section', 'generation') }}

		<h2 style="margin-top: 0px;">{{ "File Generation Settings"|t('translation-manager') }}</h2>

		{{ forms.lightswitchField({
            label: "Auto Generate"|t('translation-manager'),
            instructions: "Automatically generate translation files when translations are saved"|t('translation-manager'),
            id: 'autoExport',
            name: 'settings[autoExport]',
            on: settings.autoExport,
            disabled: settings.isOverriddenByConfig('autoExport'),
            warning: settings.isOverriddenByConfig('autoExport') ?
                "This is being overridden by the <code>autoExport</code> setting in <code>config/translation-manager.php</code>."|raw : null,
        }) }}

		{{ forms.autosuggestField({
            label: "Generation Path"|t('translation-manager'),
            instructions: "The path where PHP translation files should be generated for Craft to read"|t('translation-manager'),
            tip: "Use Craft path aliases: <code>@root/translations/translation-manager</code> or <code>@translations/translation-manager</code> (Craft's default translations folder). Paths must be outside webroot for security. Environment variables like <code>$ENV_VAR</code> are supported."|t('translation-manager')|raw,
            id: 'exportPath',
            name: 'settings[exportPath]',
            value: settings.exportPath,
            errors: settings.getErrors('exportPath'),
            required: true,
            suggestEnvVars: true,
            disabled: settings.isOverriddenByConfig('exportPath'),
            warning: settings.isOverriddenByConfig('exportPath') ?
                "This is being overridden by the <code>exportPath</code> setting in <code>config/translation-manager.php</code>."|raw : null,
        }) }}

		<div class="buttons">
			<button type="submit" class="btn submit">{{ "Save"|t('translation-manager') }}</button>
		</div>
	</form>

	{% set generationPath = settings.getExportPath() %}

    {% include 'translation-manager/_components/info-box' with {
	    message: '<strong>' ~ "Generation Location:"|t('translation-manager') ~ '</strong> <code>' ~ generationPath ~ '</code>'
    } %}


	{% include 'translation-manager/_components/plugin-credit.twig' %}
{% endblock %}
