{% extends "translation-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('translation-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set plugin = craft.app.plugins.getPlugin('translation-manager') %}
{% set crumbs = [
    {
        label: translationHelper.fullName|t('translation-manager'),
        url: url('translation-manager'),
    },
    {
        label: 'Settings'|t('translation-manager'),
        url: url('translation-manager/settings'),
    },
    {
        label: 'Interface'|t('translation-manager'),
        url: url('translation-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
	{{ actionInput('translation-manager/settings/save') }}
	{{ redirectInput('translation-manager/settings/interface') }}
	{{ hiddenInput('section', 'interface') }}

		<h2 class="first">{{ "Interface Settings"|t('translation-manager') }}</h2>

		{% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'translation-manager',
        } only %}

        {{ forms.lightswitchField({
            label: "Enable Auto-Save"|t('translation-manager'),
            instructions: "Automatically save each translation when you click outside the field (blur)"|t('translation-manager'),
            id: 'autoSaveEnabled',
            name: 'settings[autoSaveEnabled]',
            on: settings.autoSaveEnabled,
            errors: settings.getErrors('autoSaveEnabled'),
            disabled: settings.isOverriddenByConfig('autoSaveEnabled'),
            warning: settings.isOverriddenByConfig('autoSaveEnabled') ?
                "This is being overridden by the <code>autoSaveEnabled</code> setting in <code>config/translation-manager.php</code>."|raw : null,
        }) }}

        <hr>

        {% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
            settings: settings,
            pluginHandle: 'translation-manager',
            sections: {
                dateFormat: {},
                exports: {},
            },
        } only %}

	{% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
