{% extends "_layouts/cp" %}

{% set title = title ?? 'Settings'|t('translation-manager') %}
{% set docTitle =  title ~  ' - ' ~ translationHelper.fullName %}

{% set selectedSettingsItem = selectedSettingsItem ?? 'general' %}
{% set selectedSubnavItem = 'settings' %}


{# {% set plugin = craft.app.plugins.getPlugin('translation-manager') %} #}


{% block sidebar %}
    <nav id="settings-nav">
        <ul>
            <li>
                <a href="{{ url('translation-manager/settings/general') }}" {% if selectedSettingsItem == 'general' %}class="sel"{% endif %} data-nav-item="general">
                    {{ 'General'|t('translation-manager') }}
                </a>
            </li>
            <li>
                <a href="{{ url('translation-manager/settings/sources') }}" {% if selectedSettingsItem == 'sources' %}class="sel"{% endif %} data-nav-item="sources">
                    {{ 'Translation Sources'|t('translation-manager') }}
                </a>
            </li>
            <li>
                <a href="{{ url('translation-manager/settings/generation') }}" {% if selectedSettingsItem == 'generation' %}class="sel"{% endif %} data-nav-item="generation">
                    {{ 'File Generation'|t('translation-manager') }}
                </a>
            </li>
            <li>
                <a href="{{ url('translation-manager/settings/backup') }}" {% if selectedSettingsItem == 'backup' %}class="sel"{% endif %} data-nav-item="backup">
                    {{ 'Backup'|t('translation-manager') }}
                </a>
            </li>
             <li>
                <a href="{{ url('translation-manager/settings/interface') }}" {% if selectedSettingsItem == 'interface' %}class="sel"{% endif %} data-nav-item="interface">
                    {{ 'Interface'|t('translation-manager') }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% css %}
    /* Prevent scroll-based highlighting */
    #settings-nav a {
        transition: none;
    }

    /* Ensure only the current page link is highlighted */
    #settings-nav a.sel {
        cursor: default;
    }
{% endcss %}
